{% extends "admin_dashboard/base.html" %}
{% block content %}
    <h2>{{ unit.name }} ({{ unit.city }})</h2>
    
    <h3>Subunits</h3>
    <ul>
        {% for subunit in subunits %}
            <li>
                {{ subunit.name }}
                <a href="{% url 'delete_subunit' subunit.id %}" class="btn btn-danger btn-sm">Remove</a>
            </li>
        {% endfor %}
    </ul>

    <h3>Recharge Units</h3>
    <ul>
        {% for recharge_unit in recharge_units %}
            <li>
                {{ recharge_unit.name }}
                <a href="{% url 'delete_recharge_unit' recharge_unit.id %}" class="btn btn-danger btn-sm">Remove</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'add_subunit_recharge' unit.id %}" class="btn btn-primary">Add Subunits or Recharge Units</a>
{% endblock %}
